<div id="content_start" class="grid_16">
	<div class="grid_10 prefix_1">
		<h1><%=@article.title%></h1>
		<em>By <%=@article.author_name %></em>
		<br/>
		<em>Published On <%= @article.created_at.to_s %></em>
		<p> <%=textilize(coderay(@article.content)) %></p>		
	</div>
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
	//var disqus_developer = 1;
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://nervousyak.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=nervousyak">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
