<div id="content_start" class="grid_14 prefix_1">
    
    <div id="blog" class="grid_8 alpha">
      <div class="date grid_2 alpha">

        <div class="grid_1 day"></div>
        <div class="month"><br/></div>
      </div>
      <div class="text grid_6 omega">
          <h1>Contact Information is Coming Soon</h1>
      </div>
    </div>    
</div>